---
---

/* General config
----------------- */

$textcolor : #F9F513;
$backgroundcolor: #393535;

@font-face {
	font-family: 'Minecrafter';
	src: url('../fonts/minecrafter.reg-webfont.eot');
	src: url('../fonts/minecrafter.reg-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/minecrafter.reg-webfont.woff') format('woff'),
	     url('../fonts/minecrafter.reg-webfont.ttf') format('truetype'),
	     url('../fonts/minecrafter.reg-webfont.svg#webfont') format('svg');
}

/* Base styles
-------------- */

html, body {

}

html, body, * {
  font-family: "Press Start 2P";
	color: $textcolor;
}

h2, h3, h4, h5, h6 {
  text-shadow:
   -1px -1px 0 #000,
	1px -1px 0 #000,
   -1px  1px 0 #000,
	1px  1px 0 #000;
}

footer {
  margin-top: 1em;
}

/* Navbar
--------- */
.navbar-brand {
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
  font-size: 1.5em;
	color: $textcolor !important;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $textcolor !important;
}

.navbar-inverse .navbar-nav .active .nav-link {
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 2px red;
}

.navbar-inverse .btn-primary {
  background-color: transparent;
  border-color: #222222;
}

.navbar-inverse .btn-primary.active {
  background-color:#444444;
  border-color: #222222;
}

.header {
  margin-bottom: 2em;
}

/* Header
--------- */

canvas.particles-js-canvas-el {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: $backgroundcolor;
}

.jumbotron {
  background-color: $backgroundcolor;
	margin-bottom: 0;
}

.jumbotron h1, .jumbotron h2 {

  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}

.jumbotron h1 {
  font-family: "Minecrafter";
  font-size: 104px;
}

/* Carousel
-----------  */

.carousel {
  margin-top: 1em;
  margin-bottom: 1em;
}

.carousel-caption, .carousel-caption a {
  text-transform: capitalize;
	font-size: 1.5em;
	color: $textcolor;
}

.carousel-item {
  background-size: cover;
  height: 25em;
}
