---
---

/* General config
----------------- */

$textcolor : #F9F513;
$backgroundcolor: #393535;

@font-face {
	font-family: 'Minecrafter';
	src: url('../fonts/minecrafter.reg-webfont.eot');
	src: url('../fonts/minecrafter.reg-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/minecrafter.reg-webfont.woff') format('woff'),
	     url('../fonts/minecrafter.reg-webfont.ttf') format('truetype'),
	     url('../fonts/minecrafter.reg-webfont.svg#webfont') format('svg');
}

/* Base styles
-------------- */

html, body {
  background-color: $backgroundcolor;

}

html, body, * {
  font-family: "Press Start 2P";
	color: $textcolor;
}


hr {
  margin: 80px 0;
  border: none !important; /* @TODO This will be removed */
}


h2, h3, h4, h5, h6 {
  text-shadow:
   -1px -1px 0 #000,
	1px -1px 0 #000,
   -1px  1px 0 #000,
	1px  1px 0 #000;
}


/* Header
--------- */

.jumbotron {
  background-color: $backgroundcolor;
	margin-bottom: 0;
}

.jumbotron h1, .jumbotron h2 {

  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}

.jumbotron h1 {
  font-family: "Minecrafter";
  font-size: 104px;
}

/* Carousel
-----------  */

.carousel {
  height:80%;
  max-height: 80%;
  overflow: hidden;
}

.carousel-caption, .carousel-caption a {
  text-transform: capitalize;
	font-size: 70px;
	color: $textcolor;
}

.carousel-inner {
  height:100%;
  max-height: 100%;
}

.carousel-item {
  height:100%;
}
